<div class="container" id="home">
    <section data-aos="zoom-in" data-aos-duration="1000" class="title">
        Available for Select freelance opportunities <br> and Job offers
    </section>
    <div>
        <p data-aos="fade-up" data-aos-duration="1600">Have an exciting project <br> you need help with?</p>
        <p data-aos="zoom-in" data-aos-duration="1600"> Send a message</p>
    </div>

    <div class="buttons">
        <a href="mailto:mailto:adahgodwin224@gmail.com">
            <button mat-raised-button data-aos="fade-up" data-aos-duration="1700">Send Email</button>
        </a>
        <button mat-raised-button data-aos="fade-up" data-aos-duration="1700">Download CV</button>
    </div>
    <div class="socials" data-aos="fade-right" data-aos-duration="1700" data-anchor-placement="top-bottom">
        <a href="https://wa.me/2348164663382" target="_blank"> <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon></a>
        
        <a href="https://www.linkedin.com/in/godwin-adah-15b11622b" target="_blank">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        </a>
        <a href="https://instagram.com/adah_godwin224" target="_blank">
            <fa-icon [icon]="fainstagram" size="2x"></fa-icon>
        </a>
    </div>
</div>