<div class="container">
    <section data-aos="zoom-out-right" data-aos-duration="1500" class="title">
        Available for Select freelance opportunities and Job offers
    </section>
    <p data-aos="zoom-out-left" data-aos-duration="1600">Have an exciting project you need help with? Send a message</p>
    <div class="buttons">
        <button mat-raised-button data-aos="fade-up" data-aos-duration="1700">Send a Message</button>
        <button mat-raised-button data-aos="fade-up" data-aos-duration="1700">Download CV</button>
    </div>
</div>