<div class="container"  appFadeInAnimation>
  <div  id="home" class="header">
    <section class="name">
      GodwinAdah._
    </section>
    <section class="links">
      <a href="#home">//home</a>
      <a href="#expertise">//expertise</a>
      <a href="#projects"> //projects</a>
      <a href="#contact"> //contact</a>
     
    </section>
    <button
              class='toggle'
              (click)="showMenu()"
              aria-haspopup='true'
              aria-controls='primary-navigation'
          >
              <span class='line top' [attr.data-active]="isActive"></span>
              <span class='line mid' [attr.data-active]="isActive"></span>
              <span class='line bottom' [attr.data-active]="isActive"></span>
          </button>
  </div>
  <div class="nav" [attr.data-visible]="isActive">
    <ul>
      <li (click)="showMenu()">
        <a href="#home">//home</a>
      </li>
      <li (click)="showMenu()">
        <a href="#expertise">//expertise</a>
      </li>
      <li (click)="showMenu()">
        <a href="#projects"> //projects</a>
      </li>
      <li (click)="showMenu()">
        <a href="#contact"> //contact</a>
      </li>
    </ul>
  </div>
  
  <div (click)="isActive == true?showMenu() :null" class="body-container">
  
    <app-introduction></app-introduction>
    <app-expertise-section id="expertise"></app-expertise-section>
    
    <app-projects id="projects"></app-projects>
    <app-contact id="contact"></app-contact>
  </div>
</div>