<div class="container">
    <div class="list">
        <div data-aos="fade-right" data-aos-duration="1500" class="title">My Work</div>

        <ul>
            <li class="list-item" *ngFor="let tab of projects; let i = index" [class.active]="selectedTabIndex === i"
                (click)="selectTab(i)" #tabLi>
                {{ tab.name }}
            </li>
        </ul>
    </div>
    <div class="project-display">
        <div class="project">
            <div data-aos="fade-up" data-aos-duration="1000" class="project-title">
                <span>{{projects[selectedTabIndex].name}}</span>
                <button mat-raised-button [routerLink]="['/project', projects[selectedTabIndex].id]">View Project</button>
            </div>
            <img height="350px" data-aos="fade-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom"
                src={{projects[selectedTabIndex].projectImage}} alt="">
        </div>
        <div class="project-description" data-aos="fade-up" data-aos-duration="1000">
            <div class="description">
                {{projects[selectedTabIndex].description}}
            </div>
            <div class="links">
                <!-- <section>
                    <p>View Site</p>
                    <div class="view line"></div>
                </section> -->
                <section>
                    <a target="_blank" href={{projects[selectedTabIndex].github}}>Github</a>
                    <div class="git line"></div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- mobile view -->
<div class="mobile">
    <div data-aos="fade-in" data-aos-duration="1000">
        <p class="title">My Work</p>
    </div>
    <div class="project-display" data-aos="fade-up" data-aos-duration="1000" *ngFor="let project of projects">
        <div class="project">
            <img height="350px" data-aos="fade-in" data-aos-duration="1700" data-aos-anchor-placement="center-bottom"
                [src]="project.projectImage" alt="project-image">
            <div class="project-title">
                <span>{{project.name}}</span>
                <button mat-raised-button [routerLink]="['/project', project.id]">View Project</button>
            </div>

        </div>
        <div class="description">
            {{project.description}}
        </div>
        <div class="links">
            <!-- <section>
                <p>View Site</p>
                <div class="line"></div>
            </section> -->
            <section>
                <a target="_blank" [href]="project.github">Github</a>
                <div class="line"></div>
            </section>
        </div>
    </div>
</div>