<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="expertise">
  <section class="expertise-title">
    My Expertise
  </section>
  <div class="expertise-content" data-aos="fade-up" data-aos-duration="1000">
    
    <div class="div">
      <section class="title-row">
        <fa-icon class="img-icon" [icon]="faMobile" size="3x"></fa-icon>
        <span class="title">Mobile app Dev, Flutter & Dart</span>
      </section>
      <section class="description-row">
        <span class="h3"> &lt;h3&gt; </span>
        <section class="description-text">
          <span class="rod"></span>
          <div class="desc">Crafting cutting-edge mobile apps with Flutter and Dart expertise</div>
        </section>
        <span class="h3"> &lt;/h3&gt; </span>

      </section>
    </div>
    <div class="div">
      <section class="title-row">
        <fa-icon class="img-icon" [icon]="faAngular" size="3x"></fa-icon>
        <span class="title">Frontend Dev, Angular</span>
      </section>
      <section class="description-row">
        <span class="h3"> &lt;h3&gt; </span>
        <section class="description-text">
          <span class="rod"></span>
          <div class="desc">Experienced in Javascript, TypeScript, Angular, SCSS, HTML and CSS</div>
        </section>
        <span class="h3"> &lt;/h3&gt; </span>

      </section>
    </div>
    <div class="div">
      <section class="title-row">
        <fa-icon class="img-icon" [icon]="faServer" size="3x"></fa-icon>
        <span class="title">Backend Dev, NodeJS</span>
      </section>
      <section class="description-row">
        <span class="h3"> &lt;h3&gt; </span>
        <section class="description-text">
          <span class="rod"></span>
          <div class="desc">Experienced in NodeJS, ExpressJS framework,REST-api, and MongoDB</div>
        </section>
        <span class="h3"> &lt;/h3&gt; </span>
      </section>
    </div>
  </div>
</div>