<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="expertise">
    <section class="expertise-title">
      My Expertise
    </section>
    <div class="expertise-content">
      <div class="div"  data-aos="fade-up" data-aos-duration="2000">
        <section class="title-row">
          <img class="img-icon" src="assets/screen.png" alt="">
          <span class="title">Software Development</span>
        </section>
        <section class="description-row">
          <span class="h3"> &lt;h3&gt; </span>
          <section class="description-text">
            <span class="rod"></span>
            <div class="desc">Experienced in both functional and OOP, Python, Javascript, TypeScript</div>
          </section>
          <span class="h3"> &lt;/h3&gt; </span>

        </section>
      </div>
      <div class="div" data-aos="zoom-out-up" data-aos-duration="2000">
        <section class="title-row">
          <img class="img-icon" src="assets/flutter.png" alt="">
          <span class="title">Flutter Dev, Android, iOS</span>
        </section>
        <section class="description-row">
          <span class="h3"> &lt;h3&gt; </span>
          <section class="description-text">
            <span class="rod"></span>
            <div class="desc">Experienced in both functional and OOP, Python, Javascript, TypeScript</div>
          </section>
          <span class="h3"> &lt;/h3&gt; </span>

        </section>
      </div>
      <div class="div" data-aos="fade-up" data-aos-duration="2000">
        <section class="title-row">
          <img class="img-icon" src="assets/screen.png" alt="">
          <span class="title">Frontend Dev, Angular</span>
        </section>
        <section class="description-row">
          <span class="h3"> &lt;h3&gt; </span>
          <section class="description-text">
            <span class="rod"></span>
            <div class="desc">Experienced in both functional and OOP, Python, Javascript, TypeScript</div>
          </section>
          <span class="h3"> &lt;/h3&gt; </span>

        </section>
        </div>
    </div>
  </div>
  <div class="code-img">
    <img class="img" src="assets/code.png" alt="">
  </div>