.introduction {
    text-align: center;
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;

    .name {
        line-height: 144px;
        font-size: 128px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;

        @media screen and (max-width: 1000px) {
            font-size: 55px;
        }

        @media screen and (max-width: 650px) {
            font-size: 55px;
        }

        @media screen and (max-width: 440px) {
            font-size: 35px;
        }

        @media screen and (max-width: 300px) {
            font-size: 25px;
        }

    }

    .tagline {
        font-size: 24px;
        color: #65D9ED;
        margin: 25px;

        line-height: 27px;
    }

    .description {
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
}