<div class="introduction">
    <div class="intro">
        <section class="name">Godwin Adah</section>
        <section class="tagline">Software Engineer, Mobile app and
            Frontend Web Developer</section>
        <!-- <p class="description">
            As a web and mobile app developer, I'm passionate about creating user-friendly digital experiences. I enjoy
            turning ideas into functional applications and solving real-world problems. My goal is to leverage
            technology for positive impact through efficient digital
            solutions.
        </p> -->
    </div>
    <img class="background-img" src="assets/bg4.png" alt="background-img">

</div>