<div data-aos="fade-in" data-aos-duration="1000" class="main">
    <div class="container">
        <div class="col-1">
            <section class="name">{{name}}</section>
            <section class="description">
                {{description}}
            </section>
        </div>
        <div>
            <div class="project-info">
                <section>
                    <section class="line"></section>
                    <section class="section-1">
                        Project type
                    </section>
                    <section class="section-2">
                        {{type}}
                    </section>

                </section>
                <section>
                    <section class="line"></section>
                    <section class="section-1">
                        Client
                    </section>
                    <section class="section-2">
                        {{client}}
                    </section>
                </section>
                <section>
                    <section class="line"></section>
                    <section class="section-1">
                        Language(s)
                    </section>
                    <section class="section-2">
                        {{language}}
                    </section>

                </section>
            </div>
            <div class="open-project">
                <span>Open Project</span>
                <fa-icon class="icon" [icon]="faArrow" size="2xl"></fa-icon>
            </div>
        </div>
    </div>

</div>