<div data-aos="fade-in" data-aos-duration="1000" class="main">
    <div class="container">
        <div class="col-1">
            <section class="name">Epx</section>
            <section class="description">
                The Expense Planner App is a comprehensive solution designed to empower users in efficiently managing
                their financial activities. Whether it's keeping track of daily expenses, setting budgets, or analyzing
                spending patterns, this app offers a user-friendly interface and robust functionality. With seamless
                synchronization across devices, users can access their financial data anytime, anywhere.
            </section>
        </div>
        <div>
            <div class="project-info">
                <section>
                    <section class="line"></section>
                    <section class="section-1">
                        Project type
                    </section>
                    <section class="section-2">
                        Mobile app
                    </section>

                </section>
                <section>
                    <section class="line"></section>
                    <section class="section-1">
                        Client
                    </section>
                    <section class="section-2">
                        Sairon Global
                    </section>
                </section>
                <section>
                    <section class="line"></section>
                    <section class="section-1">
                        Language(s)
                    </section>
                    <section class="section-2">
                        Flutter and Dart
                    </section>

                </section>
            </div>
            <div class="open-project">
                <span>Open Project</span>
                <fa-icon class="icon" [icon]="faArrow" size="2xl"></fa-icon>
            </div>
        </div>
    </div>

</div>