.main {
    display: flex;
    flex-direction: column;
    color: #FFF;
    margin-bottom: 30px;
    
    .open-project {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
        font-family: Source Code Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

        .icon {
            color: #9B37FF;
        }
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .name {
        font-family: Courier Prime;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    .description {
        font-family: Open Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        margin-right: 68px;
        max-width: 444px;
        padding-bottom: 53px;
    }

    .project-info {
        display: flex;
        gap: 32px;
        margin-bottom: 40px;

        .line {
            max-width: 105.5px;
            height: 1px;
            background-color: #65D9ED;
            margin-bottom: 22.5px;
        }

        .section-1 {
            font-family: Source Code Pro;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            margin-bottom: 8px;
        }

        .section-2 {
            max-width: 142px;
            font-family: Open Sans;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
        }
    }
}