<div class="container" id="home" data-aos="fade-up" data-aos-duration="1000">
    <section class="title">
        Available for Select freelance opportunities <br> and Job offers
    </section>
    <div>
        <p>Have an exciting project <br> you need help with?</p>
        <p> Send a message</p>
    </div>

    <div class="buttons">
        <a href="mailto:mailto:adahgodwin224@gmail.com">
            <button mat-raised-button>Send Email</button>
        </a>
        <button mat-raised-button >Download CV</button>
    </div>
    <div class="socials">
        <a href="https://wa.me/2348164663382" target="_blank"> <fa-icon [icon]="faWhatsapp" size="2x"></fa-icon></a>
        
        <a href="https://www.linkedin.com/in/godwin-adah-15b11622b" target="_blank">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        </a>
        <a href="https://instagram.com/adah_godwin224" target="_blank">
            <fa-icon [icon]="fainstagram" size="2x"></fa-icon>
        </a>
    </div>
</div>