.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 10%;
  margin-bottom: 200px;
  gap: 30px;

  @media (max-width: 890.5px) {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;

    .title {

      font-family: 'Courier Prime';

      font-style: normal;
      font-weight: 700;
      font-size: 96px;
      text-transform: capitalize;
      line-height: 108px;
      width: 264px;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }

    .list-item {
      margin-top: 50px;
      font-family: 'Source Code Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      color: white;
    }

    .list-item.active {
      color: #B171F2;
    }

    .underline {
      margin-top: 5px;
      height: 5px;
      background-color: #B171F2;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      width: 60%;
    }

    .underline.animate {
      transform: scaleX(1);
    }
  }

  .project-display {
    display: flex;
    flex-direction: column;

    .project {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 30px;

      .project-title {
        display: flex;
        flex-direction: column;
        width: 50%;
        span {
          font-family: 'Source Code Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          max-width: 100px;
          line-height: 40px;
          color: #FFFFFF;
        }

        button {
          color: white;
          margin-top: 10px;
          width: 153px;
          height: 45px;
          background: #9B37FF;
        }
      }
    }

    .description {
      margin-bottom: 25px;
      margin-right: 5%;
      max-width: 500px;
      font-family: 'Source Code Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 19px;

      color: #FFFFFF;

    }

    .links {
      display: flex;
      flex-direction: row;
      gap: 10px;

      p {
        font-family: 'Courier Prime';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        color: #FFFFFF;
      }

      .line {
        width: 70px;
        height: 5px;
        background-color: #B171F2;
      }
    }
  }

}



// mobile view scss
.mobile {
  margin: 15px;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;

  @media (min-width: 890.3px) {
    display: none;
  }

  .title {
    font-family: 'Courier Prime';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    text-transform: capitalize;
    line-height: 108px;

  }

  .project-display {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      .project-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-family: 'Source Code Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 80px;
          color: #FFFFFF;
        }

        button {
          margin-top: 10px;
          width: 153px;
          height: 45px;
          background: #9B37FF;
          color: white;
        }
      }
    }

    .description {
      margin-bottom: 25px;
      font-family: 'Source Code Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 15%;
      margin-right: 15%;
      @media (max-width: 550px) {
        margin-left: 5%;
        margin-right: 5%;
      }

      @media (max-width: 350px) {
        margin-left: 3px;
        margin-right: 3px;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;

      section {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
          font-family: 'Courier Prime';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;

          color: #FFFFFF;
        }

        .line {
          position: absolute;
          bottom: 5px;
          width: 70px;
          height: 5px;
          background-color: #B171F2;
        }
      }

    }
  }
}