<div  id="home" class="header">
  <section class="name">
    GodwinAdah._
  </section>
  <!-- <section class="links">
    <a href="#home">//home</a>
    <a href="#expertise">//expertise</a>
    <a href="#projects"> //projects</a>
  </section> -->
  
</div>
<div class="body-container">

  <app-introduction></app-introduction>
  <app-expertise-section id="expertise"></app-expertise-section>
  
  <!-- <app-projects id="projects"></app-projects> -->
  <!-- <app-contact id="contact"></app-contact> -->
</div>