<div class="title">App Features</div>
    
<div class="main">
    <div class="grid-item" *ngFor="let item of gridItems; let i = index" [ngClass]="{'even': i % 2 === 0, 'odd': i % 2 !== 0}">
        <section data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="500" class="text">
            {{item.feature}}
        </section>
        <div data-aos="fade-up" data-aos-duration="500" class="phone" data-aos-anchor-placement="center-bottom">
            <img [src]="item.image" alt="">
        </div>
        
    </div>

</div>
<div class="container">
    <div class="next">
        <section class="buttons">
            <span>Next Project</span>
            <fa-icon style="color: #cccccc;" *ngIf="previousProject.id == ''" class="icon" [icon]="faArrowLeft"
                size="2xl"></fa-icon>
            <fa-icon *ngIf="previousProject.id != ''" [routerLink]="['/project', previousProject.id]" class="icon"
                [icon]="faArrowLeft" size="2xl"></fa-icon>
            <fa-icon *ngIf="nextProject.id != ''" [routerLink]="['/project', nextProject.id]" class="icon"
                [icon]="faArrowRight" size="2xl"></fa-icon>
            <fa-icon style="color: #cccccc;" *ngIf="nextProject.id == ''" class="icon" [icon]="faArrowRight"
                size="2xl"></fa-icon>
        </section>
        <section class="project-name">
            {{nextProject.name}}
        </section>
    </div>
</div>