<div class="main">
    <div class="first-row">
        <div>
            <section class="box-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, asperiores mollitia
                molestias dolor eveniet illo nemo natus voluptas dicta maiores officiis tenetur ut dolorem fugiat porro
                omnis! Laudantium, ab expedita.</section>
            <section class="text">
                Statements about processes
                you wentthrough
            </section>
        </div>
        <div class="box-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor consequuntur quae voluptatem
            ad nemo similique numquam repudiandae consectetur blanditiis sint incidunt iusto, laudantium molestiae
            officiis rerum. Ipsam iure adipisci neque?</div>
    </div>

    <div class="box-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quibusdam accusamus
        consequatur adipisci eius, distinctio repellat assumenda officiis suscipit! Aliquam cupiditate quos
        distinctio labore blanditiis non veritatis voluptate neque molestiae?
    </div>


    <div class="second-row">
        <div>
            <section class="text">
                Statements about processes
                you wentthrough
            </section>
            <section class="box-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, facere harum quam alias, cupiditate
                odio dignissimos modi, id eaque explicabo sunt possimus similique adipisci placeat repellendus
                obcaecati? Quam, cumque quia.
            </section>
        </div>
        <div class="box-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consequuntur quis amet
            eligendi illum ipsum similique aliquam modi esse nam dolorum accusamus odio magnam, fugiat doloremque. Illo,
            nihil! Harum, ullam.</div>
    </div>

</div>
<div class="container">
    <div class="next">
        <section class="buttons">
            <span>Next Project</span>
            <fa-icon style="color: #cccccc;" *ngIf="previousProject.id == ''" class="icon" [icon]="faArrowLeft" size="2xl"></fa-icon>            
            <fa-icon *ngIf="previousProject.id != ''" [routerLink]="['/project', previousProject.id]" class="icon" [icon]="faArrowLeft" size="2xl"></fa-icon>
            <fa-icon *ngIf="nextProject.id != ''" [routerLink]="['/project', nextProject.id]" class="icon" [icon]="faArrowRight" size="2xl"></fa-icon>
            <fa-icon style="color: #cccccc;" *ngIf="nextProject.id == ''" class="icon" [icon]="faArrowRight" size="2xl"></fa-icon>
        </section>
        <section class="project-name">
            {{nextProject.name}}
        </section>
    </div>
</div>