<div class="main">
    <div class="first-row">
        <div>
            <section class="box-1"></section>
            <section class="text">
                Statements about processes
                you wentthrough
            </section>
        </div>
        <div class="box-2"></div>
    </div>
    <div>
        <div class="box-3"></div>
    </div>
    
    <div class="second-row">
        <div>
            <section class="text">
                Statements about processes
                you wentthrough
            </section>
            <section class="box-4"></section>
        </div>
        <div class="box-5"></div>
    </div>

</div>
<div class="container">
    <div class="next">
        <section class="buttons">
            <span>Next Project</span>
            <fa-icon class="icon" [icon]="faArrowLeft" size="2xl"></fa-icon>
            <fa-icon class="icon" [icon]="faArrowRight" size="2xl"></fa-icon>
        </section>
        <section class="project-name">
            Project Name
        </section>
    </div>
</div>