.title {
    font-family: Courier Prime;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 50px;
    margin-top: 30px;
    line-height: normal;
    text-align: center;    
    
}
.main {
    padding: 50px 15% 50px 15%;
    
    @media (max-width: 1600px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    @media (max-width: 1200px) {
        padding-left: 10%;
        padding-right: 10%;
        // justify-content: center;

    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 500px) {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .grid-item {
        width: 46%;
        margin-bottom: 130px;

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 100px;
        }
    }

    // .even {
    //     background-color: #4f0ef5;
    // }

    .odd {
        position: relative;
        top: 240px;

        @media (max-width: 700px) {
            top: 190px;
        }
        @media (max-width: 500px) {
            top: 0;
        }

        @media (max-width: 330px) {
            max-width: 150px;
            top: 0;
        }
    }

    .text {
        text-align: center;
        color: #3B3A3E;
        font-family: Courier Prime;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .phone {
        z-index: 1;
        max-width: 300px;
        // max-height: 532px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        @media (max-width: 500px) {
            max-width: 250px;
            // height: 380px;
        }

        @media (max-width: 330px) {
            max-width: 200px;
            // max-height: 285px;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        
            @media (max-width:500px) {
                border-radius: 20px;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 100px;
    .next {
        position: relative;
        top: 60px;
        left: 70px;
        width: 208px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        padding: 40px 19px 59px 19px;

        @media (max-width: 700px) {
            left: 20px;
        }

        .icon {
            color: #9B37FF;
            cursor: pointer;
            border: none;
        }

        .icon:focus,
        .icon:active {
            outline: none;
        }

        span {
            color: #3B3A3E;
            font-family: Source Code Pro;
            font-size: 14px;
            font-weight: 400;

        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .project-name {
            color: #3B3A3E;
            font-family: Source Code Pro;
            font-size: 14px;
            font-weight: 700;
        }

    }


}