<app-loader *ngIf="loading"></app-loader>

<div *ngIf="!loading" class="header" [attr.data-color]="changeColor">
  <div class="head">
    <section class="name">
      GodwinAdah._
    </section>
    <section class="links">
      <a routerLink="/home">//homePage</a>
      
    </section>
    <button class='toggle' (click)="showMenu()" aria-haspopup='true' aria-controls='primary-navigation'>
      <span class='line top' [attr.data-active]="isActive"></span>
      <span class='line mid' [attr.data-active]="isActive"></span>
      <span class='line bottom' [attr.data-active]="isActive"></span>
    </button>
  </div>
  <div class="nav" [attr.data-visible]="isActive">
    <ul>
      <li (click)="showMenu()">
        <a routerLink="/home">//homePage</a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!loading" id="maincontent" class="container">
    <app-project-title [name]="project.name" [description]="project.description" [type]="project.type"
        [client]="project.client" [language]="project.language"
        (showpage)="showprojectPage($event)">
        
      </app-project-title>

    <div class="project-info" [attr.show-page]="show">
      <app-project-images [coverImg]="project.coverImage" [homeImg]="project.homeImage"
        [carouselImgs]="project.landscapeImages" [name]="project.name" [designRationale]="project.DesignRationale"
        [scope]="project.scopeAndContribution" [shortIntro]="project.shortIntro" [challenge]="project.challenge"
        [baseColor]="project.baseColor">
    </app-project-images>
    <app-project-finale [gridItems]="project.featureImages"></app-project-finale>
    </div>
</div>