<div class="container">
    <div class="cover-image"></div>
    <div class="short-intro">
        <section class="app-name">Mobile App Name</section>
        <section class="short-description">
            Short intro about app purpose eg, Savings Made easy and fun.
        </section>
    </div>
    <div class="landscape-image"></div>
    <div class="challenges">
        <section class="title">The Challenge</section>
        <section class="desc">Description of the project. and project goal.
            This is a NPM package that takes an SVG file and renders it as a inline SVG to the DOM and can also render
            HTML files too. You can also pass data to it that render double curly braces. I created this to solve
            problems with some frameworks and bundlers when using inline SVG files and to keep code clean an easier to
            read.
        </section>

    </div>
    <div class="carousel">

    </div>
    <div class="ending-texts">
        <section class="title">
            Scope, Contribution & Design Rationale
        </section>
        <div class="desc">
            <section>
                Description of the project. and project goal.
                This is a NPM package that takes an SVG file and renders it as a inline SVG to the DOM and can also
                render HTML files too. You can also pass data to it that render double curly braces. I created this to
                solve problems with some frameworks and bundlers when using inline SVG files and to keep code clean an
                easier to read.
            </section>
            <section>
                Description of the project. and project goal.
                This is a NPM package that takes an SVG file and renders it as a inline SVG to the DOM and can also
                render HTML files too. You can also pass data to it that render double curly braces. I created this to
                solve problems with some frameworks and bundlers when using inline SVG files and to keep code clean an
                easier to read.
            </section>
        </div>
    </div>
</div>