<div class="container">
    <!-- <div class="cover-image">
        <img [src]="coverImg" alt="">
    </div> -->
    <div class="short-intro">
        <section class="app-name">{{name}}</section>
        <section class="short-description">
            {{shortIntro}}
        </section>
    </div>
    <div class="landscape-image">
        <div data-aos="zoom-in" data-aos-anchor-placement="center-bottom" data-aos-duration="800" [style.background-color]="baseColor" class="circle">
        </div>
        <div data-aos="fade-up" data-aos-duration="500" data-aos-anchor-placement="center-bottom" class="phone">
            <img [src]="homeImg" alt="">
        </div>
    </div>
    <div class="challenges">
        <section data-aos="fade-up" data-aos-duration="500" class="title">The Challenge</section>
        <section data-aos="fade-up" data-aos-duration="500" class="desc">
            {{challenge}}
        </section>
    </div>
    <div class="carousel" data-aos="fade-up" data-aos-duration="500">
        <img [src]="imageposter" alt="image">

    </div>
    <div class="ending-texts">
        <section data-aos="fade-up" data-aos-duration="500" class="title">
            Scope, Contribution & Design Rationale
        </section>
        <div data-aos="fade-up" data-aos-duration="500" class="desc">
            <section>
                {{scope}}
            </section>
            <section>
                {{designRationale}}
            </section>
        </div>
    </div>
</div>